/* Map.css */
.map-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
  }
  
  .file-input-container {
    margin-bottom: 20px;
  }
  
  .file-input {
    display: none;
  }
  
  .custom-file-input {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: 1px solid #4caf50;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
  }
  
  .custom-file-input:hover {
    background-color: #45a049;
  }
  
  .dropdown-container {
    margin-bottom: 10px;
  }
  
  .select-dropdown {
    background-color: white;
    color: black;
    padding: 10px;
    border: 1px solid #4caf50; /* You can adjust the border color if needed */
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
  }
  
  .select-dropdown:hover {
    background-color: #f0f0f0; /* You can adjust the hover background color if needed */
  }
  
  .create-button {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: 1px solid #4caf50;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .create-button:hover {
    background-color: #45a049;
  }
  
  .map {
    height: 500px;
    width: 100%;
    margin-top: 20px;
  }
  